.custom-input{
    padding: 12px 20px;
    margin: 8px 0 12px;
    box-sizing: border-box;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    color: #343434;
}
.w-full{
    width: 100%;
}
::-webkit-input-placeholder { /* Edge */
    color: #000;
    opacity: 0.3;
    font-weight: 800;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: #000;
    opacity: 0.3;
    font-weight: 800;
}

::placeholder {
    color: #000;
    opacity: 0.3;
    font-weight: 800;
}
label{
    color: #000;
    opacity: 0.3;
    font-weight: 800;
}