#listplaylist-page {
	position: relative;
}
#listplaylist-page .page-content {
	width: calc(100vw - 16rem);
}

#listplaylist-page .section-component:not(:first-of-type) .section__header,
#listplaylist-page .section__header:first-of-type a {
	display: none;
}
