.calltoaction {
	font-weight: 800;
	font-size: 0.875rem;
	line-height: 1.5;
	background-color: #1ed760;
	padding: 0.875rem 2rem;
	margin: auto;
	border: none;
	border-radius: 50rem;
	display: block;
	cursor: pointer;
	letter-spacing: 0.1rem;
}
.black-text {
	color: black;
}
.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.white-text {
	color: white;
}
.blue-text {
	color: #2941ab;
}
.uppercase {
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.875rem 2rem 0.75rem;
}
.calltoaction:hover:not(.disabled) {
	transform: scale(1.04);
	filter: brightness(110%);
}
.calltoaction:active {
	transform: scale(1);
	filter: brightness(95%);
}
.noscale:hover {
	transform: scale(1) !important;
}
.calltoaction:focus-visible {
	outline-offset: 0.25rem;
}
.calltoaction.white {
	border: 0.125rem solid #333;
}
.calltoaction.white:hover:not(.disabled) {
	background-color: #555;
	color: white;
}
.calltoaction.black:hover:not(.disabled) {
	background-color: #333;
}
