.menu-component {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
}
.menu__list li {
	padding: 0 0.5rem;
}
.menu__list li:hover {
	color: white;
}
.menu__link {
	color: #b3b3b3;
	text-decoration: none;
	font-size: 0.875rem;
	font-weight: 700;
	height: 2.5rem;
	width: 15.5rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
}
.menu__link.active {
	color: white;
	background-color: #282828;
}
.menu__link svg {
	fill: #b3b3b3;
	height: 1.5rem;
	margin-right: 1rem;
}
.logo {
	height: 2.456rem;
	padding: 0 1.5rem;
	margin-bottom: 1rem;
	width: auto;
	display: block;
}
.spotify-logo--text {
	height: 100%;
	display: block;
}

@media (pointer: coarse), (max-width: 753px) {
	.logo {
		display: none;
	}
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list li {
		width: 100%;
	}
	.menu__link {
		height: 5rem;
		width: 100%;
		padding: 0;
		border-radius: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.menu__link.active {
		background-color: black;
	}
	.menu__link svg {
		margin: 0 0 0.25rem 0;
	}
}

@media (pointer: coarse), (max-width: 977px) {
	#faq-page .logo {
		height: 1.75rem;
		padding: 0 1rem;
	}
}
