#playlistcollection-page {
	position: relative;
}
#playlistcollection-page .page-content {
	width: calc(100vw - 16rem);
}

#playlistcollection-page
	.section-component:not(:first-of-type)
	.section__header,
#playlistcollection-page .section__header:first-of-type a {
	display: none;
}
