#playlist-page {
	position: relative;
}
#playlist-page .section__header {
	display: none;
}
#playlist-page .page-content {
	width: 100vw;
}
.playlist-header {
	gap: 2rem;
	align-items: center;
	flex-direction: column;
}
.playlist-header .text-wrapper {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.playlist-header .text-wrapper .category__smallcaps {
	display: none;
}
.playlist-header .text__huge {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.playlist-header .subtitle {
	color: #ffffffb3;
	font-size: 0.875rem;
	margin: 0 2rem 0.875rem;
}

.playlist-header h4,
.playlist-header h6 {
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 400;
	color: #ffffffb3;
	line-height: 1.5;
}
.playlist__thumbnail img {
	width: 10rem;
}

@media (min-width: 411px) {
	.playlist-header .text__huge {
		font-size: 2.5rem;
	}
}

@media (min-width: 768px) {
	#playlist-page .page-content {
		width: calc(100vw - 16rem);
	}
	.playlist-header .text-wrapper .category__smallcaps {
		flex-direction: row;
		display: none;
	}
	.playlist-header h4,
	.playlist-header h6 {
		text-transform: capitalize;
		font-variant: normal;
	}
	.playlist-header {
		flex-direction: row;
		align-items: flex-end;
	}
	.playlist__thumbnail img {
		width: 15rem;
	}
	.playlist-header .text-wrapper {
		align-items: flex-start;
		text-align: left;
	}
	.playlist-header .text__huge {
		font-size: 3rem;
	}
	.playlist-header .subtitle {
		margin: 0 0 1rem;
	}
	.playlist-header h4 {
		color: white;
		font-weight: 600;
	}
	.playlist-header h6 {
		font-size: 0.875rem;
	}
}
@media (min-width: 1024px) {
	.playlist-header .text__huge {
		font-size: 4rem;
	}
}
