.navbar-component {
	position: fixed;
	background-color: black;
	width: 16rem;
	min-width: 16rem;
	height: 100vh;
	display: block;
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	z-index: 1;
}

@media (pointer: coarse), (max-width: 753px) {
	#home-page .navbar-component {
		background-color: black;
		height: 5rem;
		width: 100vw;
		min-width: 100%;
		padding: 0;
		margin: 0;
		bottom: 0;
	}
}

@media (pointer: coarse), (max-width: 977px) {
	#faq-page nav.navbar-component {
		height: 3.375rem;
	}
}
