.section-component {
	margin-bottom: 1rem;
}
.section__header {
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.section__header > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



@media (pointer: coarse) {
	.category__smallcaps {
		display: none;
	}
}
