.footer-component {
	background-color: black;
}
.footer-component nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 3.125rem 0 1.25rem;
}
.footer-component .logo {
	height: 1.75rem;
	margin: 0;
	padding: 0;
}
.footer__menu {
	display: flex;
	flex-direction: column;
	flex-basis: 18.75rem;
}
.footer-component .col {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.footer__menu .col {
	flex-basis: 33%;
}
.col .category__smallcaps {
	font-size: 0.75rem;
	margin: 1.25rem 0;
	margin: 3.125rem 0 1.375rem;
}
.footer-component .menu__link {
	width: 100%;
	height: fit-content;
	color: white;
	font-size: 1rem;
	padding: 0.375rem 0 1rem;
}
.socialmedia {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 2.5rem 0 1rem;
}
.socialmedia ul {
	display: flex;
	margin-top: 1.25rem;
	gap: 1rem;
}
.socialmedia a {
	height: 2.75rem;
	width: 2.75rem;
	text-decoration: none;
	background-color: #222326;
	padding: 0.625rem;
	border: none;
	border-radius: 15rem;
	box-shadow: none;
	display: block;
}
.socialmedia a svg {
	background-color: white;
}
.socialmedia a svg:hover {
	background-color: #1ed760;
}
.socialmedia a svg path {
	fill: #222326;
}
.footer__bottom > div {
	margin: 0 1rem;
}
.footer__bottom .links {
	display: flex;
	align-items: flex-start;
	gap: 3rem;
}
.footer__bottom .links > * {
	padding: 0.625rem 0;
}
.footer__bottom .links ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}
.footer__bottom .links > span {
	margin-left: auto;
	white-space: nowrap;
}
.footer__bottom .links li > *,
.footer__bottom .links > span {
	padding: 0.75rem 0;
}
.footer__bottom .country,
.footer__bottom .country a {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.footer__bottom .country a svg {
	height: 1rem;
	fill: #b3b3b3;
	margin-right: 0.5rem;
}

/* --------------- Responsiveness --------------- */

.footer__bottom .country > a {
	padding: 0;
}

@media (pointer: coarse), (min-width: 768px) {
	.footer__menu {
		flex-direction: row;
	}
	.footer-component nav {
		margin: 0 3.5rem;
	}
	.footer__bottom .links {
		align-items: center;
	}
}

@media (min-width: 1024px) {
	.footer-component {
		display: flex;
		padding: 5rem 0 3.125rem;
		justify-content: center;
	}
	.footer-component nav {
		padding: 0;
		margin: 0 1.875rem;
		flex-direction: row;
		max-width: 71.125rem;
	}
	.footer-component .col:first-of-type {
		min-height: 21.625rem;
	}
	.col {
		padding: 0 1rem;
	}
	.footer-component .category__smallcaps {
		padding: 1rem 0;
	}
	.footer-component .socialmedia a {
		height: 3.375rem;
		width: 3.375rem;
		padding: 1rem;
	}
	.footer__menu {
		flex-basis: 50%;
	}
	.footer-component .category__smallcaps,
	.socialmedia,
	.socialmedia ul {
		margin: 0;
	}
	.footer-component .socialmedia {
		margin-left: auto;
		justify-self: flex-end;
	}
	.footer__bottom {
		flex-basis: 100%;
	}
}
