.bg-white {
	background-color: white;
	height: calc(100vh - 3.375rem);
	overflow: hidden;
}

#signup-page .page-content {
	min-height: calc(100vh - 5rem);
	width: 100vw;
	position: static;
}
#signup-page .menu__list {
	display: flex;
	margin-right: 1rem;
}
#signup-page .menu__link {
	height: 100%;
	width: fit-content;
	background-color: unset;
	color: white;
}
#signup-page .menu__link:hover {
	color: #1ed760;
}
#signup-page .menu__link .player,
#signup-page .menu__link .faq {
	display: none;
}

.signup-container {
	min-height: 37.5rem;
	max-width: 30rem;
	padding: 0.5rem;
	background-color: white;
	border: 0.125rem solid rgba(0, 0, 0, 0.1);
	margin: 1.5rem auto;
}
.signup-container__title {
	color: #000;
	margin: 1rem 0;
	text-align: center;
}
.logo-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px;
}
.logo-black {
	width: 12rem;
	text-align: center;
}
.form {
	padding: 0 16px;
}
hr {
	margin: 1rem 0;
	border: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
.input-label {
	color: black;
	font-weight: 700;
	font-size: 0.9rem;
}
