* {
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: inherit;
	box-sizing: border-box;
}
body {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #121212;
}

.App {
	display: flex;
	flex-direction: column;
}
a:hover {
	fill: white;
}

#faq-page main {
	height: 100%;
}
.inner-player .page-content {
	height: calc(100vh - 5.5rem);
	padding-top: 5rem;
}
ul {
	margin-block-start: 0;
	margin-block-end: 0;
}
ul li {
	list-style-type: none;
}

/* font size */
.hero {
	font-size: 4rem;
	letter-spacing: -0.125rem;
	text-align: center;
}
.text-center {
	text-align: center;
}
/* colors */
.dark-green {
	background-color: #15883e;
}
.green {
	background-color: #1ed760;
}
.fb-blue {
	background-color: #3a61b3;
}
.black {
	background-color: black;
}
.white {
	background-color: white;
}
.transparent {
	background-color: transparent;
}

/* border colors */
.white-border {
	border: 0.0625rem solid white;
}
.lightgray-border {
	border: 0.0625rem solid #535353;
}

/* text colors */
.green-text {
	color: #1ed760;
}
.black-text {
	color: black;
}

/* display */
.hide {
	display: none;
}

/* sizing */
.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}

/* margin */
.m-0 {
	margin: 0;
}
.m-12 {
	margin: 12px;
}

/* padding */
.p-12 {
	padding: 12px;
}
.pr-5 {
	padding-right: 5px;
}
.pl-5 {
	padding-left: 5px;
}
.pr-12 {
	padding-right: 12px;
}
.pl-12 {
	padding-left: 12px;
}

/* flex */
.flex {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.row-revert {
	flex-direction: row-reverse;
}
.space-around {
	justify-content: space-around;
}
.space-between {
	justify-content: space-between;
}
.align-items-center {
	align-items: center;
}
.justify-content-center {
	justify-content: center;
}
.gap-1 {
	gap: 1rem;
}
.gap-05 {
	gap: 0.5rem;
}
