* {
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: inherit;
	box-sizing: border-box;
}
body {
	color: white;
	font-family: 'Raleway', sans-serif;
	background-color: #121212;
}

.App {
	display: flex;
	position: relative;
}
a:hover {
	fill: white;
	color: white;
}
main {
	height: 100vh;
	width: 100%;
	display: flex;
	background: linear-gradient(180deg, #501218 0%, #121212 30%);
}
ul {
	margin-block-start: 0;
	margin-block-end: 0;
}
ul li {
	list-style-type: none;
}
